{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ title }}{% endblock %}


{% block nav_clas_students %}active{% endblock %}


{% block content %}>

    <div class="jumbotron">
    <div class="myclass">

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}


    {% if student %}
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"/>
        </form>
    {% endif %}


{% endblock content %}s