body {
  margin: 0;
}

.centrimg   {
    float:centr; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
    /*height:205px; /*width:198px;*/
   	  }
.rightimg  {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
 	   }
.myclass { margin: 10px;}


.media-body {font-size: larger;}
.list-group {color:black;border:none;}
tbody th {font-weight: 400}
.table tr:hover {  color: green;     text-decoration: underline; font-weight: bold;}
.mytable {width:400px; left:40px;}

.mytable  th , .mytable td { border-width: 2px  ;padding: 1px;
	border-style: inset;
	border-color: gray;}

.newfooter { margin: 7px 7px 7px 0; font-weight: bold;}
.newfooter2 { margin: 7px 7px 7px 0; color: black;font-weight: bold; }
.pclass { color:red;}
