<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
      {% load staticfiles %}
    <!-- Bootstrap -->
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" rel="stylesheet">


      <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

   

  </head>
  <body>
     <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

          </button>
       
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% block nav_clas_index %}{% endblock%}"><a href="{% url 'index' %}">Main</a></li>
            <li class="{% block nav_clas_contact %}{% endblock%}"><a href="{% url 'contact' %}">Contacts</a></li>

            <li class="{% block nav_clas_students %}{% endblock%}"><a href="{% url 'students:list' %}{% block course_stud %}{% endblock %}">Students</a></li>

            <li class="{% block nav_clas_feedback %}{% endblock%}"><a href="{% url 'feedback:index' %}">Feedback</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->



{% block content %}{% endblock content %}


<div class="newfooter" >
admin@admin.com
Маленькие дети!
<p class ="pclass">Ни за что на свете</p>
Не ходите в Африку,
В Африку гулять!
В Африке акулы,
В Африке гориллы,
В Африке большие
Злые крокодилы
Будут вас кусать,
Бить и обижать,-
Не ходите, дети,
В Африку гулять. 
</div>



 <br><br>

      <div class="newfooter2">
        <p>&copy; Oralce GNC 2016</p>
      </div>

    </div> 

       </div>

  

  </body>
</html>
