<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PythonAcademy Description</title>
      {% load staticfiles %}
    <!-- Bootstrap -->
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" rel="stylesheet">

 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

          </button>
       
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'views.index' %}">Main</a></li>
            <li><a href="{% url 'views.contact' %}">Contacts</a></li>
            <li><a href="{% url 'views.student_list' %}">Students</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <br>   <br>  




      
  <div class="jumbotron">
         <div class="myclass">

<div class="media">
  <a class="pull-right" >
    <img class="media-object" src="{% static 'images/sendbinary.asp.jpg' %}" alt="python">
  </a>
  <div class="media-body">
    <h2>PythonAcademy Description</h2>
  Настоящие питоны — крупные неядовитые змеи длиной от 1,2 (королевский питон, ангольский питон) до 10-12 м (сетчатый питон). К роду относятся одни из самых крупных змей в мире.Распространены в Африке к югу от Сахары, в Южной и Юго-Восточной Азии.Обитают в тропиках и субтропиках, как правило, во влажных тропических лесах, саваннах. Часто поселяются вблизи водоемов, хорошо плавают и могут подолгу находиться в воде. Неплохо лазают по деревьям.Питаются самыми разнообразными позвоночными животными: грызунами, зайцами, мелкими копытными, обезьянами, различными птицами, иногда поедают крупных ящериц и небольших крокодилов.
  </div>
  </div>

 
          <h2>Program:</h2>
      
<div class="media">
<a class="pull-right" >
    <img class="media-object" src="{% static 'images/python_noga.jpg' %}" alt="python">
  </a>
  <div class="media-body">
    <h3 class="media-heading">1. Ловля питона на ногу:</h3>
Суровые негры ловят питонов на свою ногу. Нога обматывается тряпкой и засовывается в нору к питону. Питон любит ноги и поэтому не долго думает перед поклевкой. Поскольку выплюнуть наживку змеюка сразу не может, владельца ноги успевают быстро вытащить из норы с носком из питона. Питона разрезают, негра отпускают.
</div>
</div>

<div class="media">
<a class="pull-right" >
    <img class="media-object" src="{% static 'images/python_ruka1.jpg' %}" alt="python">
  </a>
  <div class="media-body">
    <h3 class="media-heading">2. Ловля питона на руку: </h3>
Для начала обматывают одну руку шкурой бизона. Предположительно (хотя бывает всякое) в эту руку вцепится гигантский змей.
</div>
</div>



<div class="media">
<a class="pull-right" >
    <img class="media-object" src="{% static 'images/python_ruka2.jpg' %}" alt="python">
  </a>
  <div class="media-body">
 Находят змеиную нору в горах и лезут туда головой вперёд. Судя по размерам этой норы, туда влезет и большинство европейских мужчин. Только оно им надо? Я бы в жизни не полез. Змей прекрасно видит в темноте. Вернее, у него инфракрасное зрение. Человек теплый, поэтому змей, увидевший чернокожую вкусняшку, саму приползшую к нему в нору, приготавливается к броску. Чтобы запутать змея и самому что-то увидеть, охотник зажигает ветки. Они гораздо теплее тела человека, поэтому змей сильно озадачивается.
</div>
</div>



<div class="media">
<a class="pull-right" >
    <img class="media-object" src="{% static 'images/python_ruka3.jpg' %}" alt="python">
  </a>
  <div class="media-body">
Подползши к змею вплотную, лучины гасятся, чтобы змей, наконец, увидел приползший к нему обед. Но ловкий чернокожий парень не зря неделю не кушал. Он подставляет змею руку, обмотанную шкурой бизона. Дезориентированный змей пытается прокусить шкуру, а голодный охотник свободной рукой перекрывает змею пищевод, чтобы змей случайно не сглотнул руку вместе со шкурой и самим охотником.
</div>
</div>


<div class="media">
<a class="pull-right" >
    <img class="media-object" src="{% static 'images/python_ruka4.jpg' %}" alt="python">
  </a>
  <div class="media-body">
Вылезти обратно с шестиметровым змеем, весящим 10-15 кг за погонный метр, одному нереально. Но для этого и есть голодные товарищи чернокожего охотника. Если они не испугались подземного шипения, они должны вытащить охотника за ноги вместе с брыкающимся змеем.  Охотник, держа за горло змея, появляется на поверхности. Спрашивается, почему удав не задушил охотника? Потому что, когда тебе самому сдавят горло, душить других нету никакого желания.
</div>
</div>





<div class="newfooter" >

Маленькие дети!
<p class ="pclass">Ни за что на свете</p>
Не ходите в Африку,
В Африку гулять!
В Африке акулы,
В Африке гориллы,
В Африке большие
Злые крокодилы
Будут вас кусать,
Бить и обижать,-
Не ходите, дети,
В Африку гулять. 
</div>





 <br><br>

      <div class="newfooter2">
        <p>&copy; Oralce GNC 2016</p>
      </div>

    </div> 

       </div>

  

  </body>
</html>
