<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>overload</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
     <link href="../static/css/style.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

          </button>
       
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Main</a></li>
            <li><a href="contact.html">Contacts</a></li>
            <li><a href="student_list.html">Students</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <br>



      <div  class="jumbotron">
        <div class="myclass">
<h2>Чёрный Властелин (ЧВ, Black Overlord)</h2>

         <img src="../static/images/black.jpg" alt="python" class="centrimg">

<h3>Student`s card</h3>

<table class="mytable">
        
        <tbody >
          <tr><td>Surname</td><td>Черный</td></tr>
          <tr><td>Name</td><td>Властелин</td></tr>
          <tr><td>Patronymic</td><td>Overlord</td></tr>
          <tr><td>Birth Date</td><td> 28 июля 1950 года</td></tr>
          <tr><td>Address</td><td>  Нью-Джерси США</td></tr>
          <tr><td>E-mail</td><td>Black.Overlord@oralce.com</td></tr>
          <tr><td>Skype</td><td> Black_Overlord</td></tr>
          <tr><td>Average Grade</td><td>67%</td></tr>
          <tr><td>Rating</td><td>123</td></tr>
          <tr><td>Package</td><td>extra</td></tr>
          <tr><td>Post</td><td>310168</td></tr>

           </tbody>
           </table>


<h3>Performance</h3>

<table class="mytable">
        <thead>
          <tr>
            <th>Course</th>
            <th>Week</th>
            <th>Control Type</th>
            <th>Grade</th>

          </tr>
        </thead>
        <tbody >
          <tr><td rowspan="4">mycource</td><td rowspan="2">week1</td><td>Tests</td><td>100%</td></tr>
          <tr><td>Problem Task #1</td><td>100%</td></tr>
          <tr><td rowspan="2">week2</td><td>Tests</td><td>100%</td></tr>
          <tr><td>Problem Task #2</td><td>30%</td></tr>
 
  



           </tbody>
           </table>



<br><br><br><br>
      <div class="footer">
        <p>&copy; Oralce GNC 2016</p>
      </div>

    </div> 
       </div>
    



  </body>
</html>
