{% extends "base.html" %}
{% load staticfiles %}


{% block title %}душитель{% endblock %}


{% block nav_clas_index %}active{% endblock%}


{% block content %}>

 <div class="jumbotron">
         <div class="myclass">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<h3>Создание нового занятия</h3>

<form method="post">
  {% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Создать"/>
</form>





{% endblock content %}s