{% extends "base.html" %}
{% load staticfiles %}


{% block title %}курсы{% endblock %}


{% block course_stud %}?course_id={{ pk }}{% endblock %}


{% block content %}


 <div class="jumbotron">
     <div class="myclass">

    <br>  
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
     <br>  


<h2>{{ course }}</h2>
{{ course.description|truncatechars:"32" }}
<h3>Преподаватели</h3>
Учитель (Coach) <br>
{% if coach %}
{% include "include/instructor_include.html" with instruktor=course.coach %}
{% else %}
no coach <br>
{% endif %}

Ассистент (Assistant)<br>
{% if assistant %}
{% include "include/instructor_include.html" with instruktor=course.assistant %}
{% else %}
no assistant <br>
{% endif %}
<a href="{% url 'courses:add-lesson' course.id %}"><button type="button" class="btn btn-default">Добавить занятие</button></a>
  <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Тема</th>
            <th>Описание</th>
   
          </tr>
        </thead>
        <tbody>

             {% for lesson in courses_list %}
          <tr> 
          	<td>{{ lesson.id }}</td>
            <td>{{ lesson.subject }}</td>
            <td>{{ lesson.description }}</td>

          </tr>
              {% endfor %}



</tbody>
</table>









{% endblock content %}