{% extends "base.html" %}
{% load staticfiles %}


{% block title %}курсы{% endblock %}




{% block content %}





 <div class="jumbotron">
         <div class="myclass">



    <br>   <br>  
<h2>{{ course }}</h2>
{{ course.description|truncatechars:"32" }}
<h3>Преподаватели</h3>
Учитель (Coach) <br>

{% include "include/instructor_include.html" with instruktor=course.coach %}



Ассистент (Assistant)<br>

{% include "include/instructor_include.html" with instruktor=course.assistant %}

  <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Тема</th>
            <th>Описание</th>
   
          </tr>
        </thead>
        <tbody>

             {% for lesson in courses_list %}
          <tr> 
          	<td>{{ lesson.id }}</td>
            <td>{{ lesson.subject }}</td>
            <td>{{ lesson.description }}</td>

          </tr>
              {% endfor %}



</tbody>
</table>









{% endblock content %}